<h3>Index de Evaluations</h3>


{{#if model}}
	<ul>
		{{#each model as |evaluation|}}
			<li>{{evaluation.title}}</li>
		{{/each}}
	</ul>
{{else}}
	<small> Sin Evaluaciones Registradas</small>
{{/if}}
