<h3>Index de Evaluations</h3>


{{#if model}}
	<ul>
		{{#each model as |evaluation|}}
      <li> {{#link-to 'evaluations.evaluation' evaluation.id}} {{evaluation.title}} {{/link-to}}</li>
		{{/each}}
	</ul>
{{else}}
	<small> Sin Evaluaciones Registradas</small>
{{/if}}
